body {
	background-color: #E6E6E6;
	text-align: center;
}
p {
	color: black;
	font-family: Shanti;
	font-size: 1.2em;
	margin: 20px;
}

select {
	font-family: Shanti;
	font-size: 1.2em;
	margin: 20px;
	width: 80px;
	border: none;
}

label {
	color: black;
	font-family: Shanti;
	font-size: 1.2em;
	margin: 20px;
}

}

img {
	margin: 60px 100px 30px 0;
	width: 250px;
}

input {
	width: 300px;
	height: 50px;
	margin: 20px;
	border: none;
	border-radius: 10px;
	font-family: Shanti;
	text-align: center;
	font-size: 1.3em;
}

input:focus {
	border: solid 5px #00FFCE;
	outline: none;
}

#greet {
	background-color: palevioletred;
	color: white;
	width: 200px;
}

#greet:hover {
	background-color: mediumvioletred;
	cursor: pointer;

}