<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title>Retail Scrapper</title>
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename ='css/main.css') }}">  <!---->
		<link rel="icon" href="https://raw.githubusercontent.com/lucasbadillogithub/RetailScrapper_FLASK/main/img/crow.png">
	</head>
	<body>
		<br>
		<img src = "https://raw.githubusercontent.com/lucasbadillogithub/RetailScrapper_FLASK/main/img/logo_1-.png">
		<br>
		<form action="search" method="post">
			<label for="retail_source">Choose a source:</label>
			<select id="retail_source" name="retail_source">
			  <option value="exito">Exito</option>
			  <option value="d1" disabled=True>D1</option>
			  <option value="ara" disabled=True>ara</option>
			  <option value="carulla" disabled=True>Carulla</option>
			</select>
			<br>
			<label for="search_term">search_term:</label>
			<input type="text" name="search_term">
			<label for="num_matches">num_matches:</label>
			<input type="text" name="num_matches">
			<br>
			<input type="submit" value="search" id="greet">
			{% for message in get_flashed_messages()%}
				<p>{{message}}</p>
			{% endfor %}
		</form>


	</body>

</html>